<html>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>gCamp</h1>
    <p>Your life, organized.</p>
  </div>
</div>



</html>

<!-- <%= image_tag('URL') %> how to put image in HTML using HTML.erb
