 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   padding-top: 50px;
 }

footer{
  padding-bottom: 1em;
}

.links {
  float:right;
}
.links img{
  height:35px;
  margin-right: 10px;
}


.alert-success,
.alert-danger{
  text-align: center;
}

.title{
  font-weight:bold;
}

.sign-in {

  float:right;
}

ul {
  list-style-type: none;

}

.sign-up-error{
  color: red;
}

#top {
  margin-top: 20px;
}
