 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   padding-top: 50px;
 }

footer{
  padding-bottom: 1em;
}

.links {
  float:right;
}
.links img{
  height:35px;
  margin-right: 10px;
}


.alert-success{
  text-align: center;
}
